bucket/.terraform/providers/registry.terraform.io/hashicorp/google/5.30.0/linux_amd64/terraform-provider-google_v5.30.0_x5
VPC-Firewall-Instance/.terraform/providers/registry.terraform.io/hashicorp/google/5.26.0/linux_amd64/terraform-provider-google_v5.26.0_x5
random_provider/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.1/linux_amd64/terraform-provider-random_v3.6.1_x5
